<div class="footer">
    <div class="container">
        <div class="foot-brand">
            <span class="logo">
                Myra.
            </span>
            <span>
                powered by, Yaari Digital Services India Pvt. Ltd.
            </span>
            <span>
                CIN #U74999TG2017PTC119280
            </span>
        </div>
        <div class="contact">
            <div>
                <b>Contact</b>
                <span>(967) 676-8131</span>
                <span>
                    contact@myrainfra.com
                </span>
                <div class="links">
                    <i class="fa fa-brands fab fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
        </div>
    </div>
</div>