<div class="card post-author">
    <div class="author-pic">
        <img src="https://media-exp1.licdn.com/dms/image/C5103AQFq-B9N4IX4tw/profile-displayphoto-shrink_200_200/0/1552098921622?e=1654128000&v=beta&t=SYDHPBTycwsYR1EIuHLn2yopJDcjfvpapQdWM5Norw8" alt="">
    </div>
    <div class="author-info">
        <p class="name">By <strong>Sreekanth Reddy Balne</strong></p>
        <p class="bio">
            I'm a passionate software developer and researcher. I dig into Python, Django, PostgreSQL, AWS, RxJS, Typescript, Javascript, HTML, CSS, Terraform.
            <a href="{{'/about' | relative_url }}">Read more.</a>
        </p>
        <p class="contact">
            {% for item in site.data.contact %}
            <a href="{{ item.link | relative_url }}" target="_blank">
                <span class="{{item.icon_class}}"></span>
            </a>
            {% endfor %}
        </p>
    </div>
</div>