<div class="post-summary card">
    <h5 class="post-category">{{post.category}}</h5>
    <hr class="post-hr">
    <h4 class="post-title">{{post.title}}</h4>
    <div class="post-meta">
        <ul>
            <li>
              <i class="fa fa-calendar"></i> {{post.published_date}}
            </li>
            <li>
              <i class="fa fa-clock-o"></i>
              {{post.content | reading_time }}
            </li>
        </ul>
    </div>
    <img src="{{post.featured_image | relative_url}}" alt="">
    <p>
        {{post.short_content}}
    </p>
    <div class="ta-center read-more">
        <a href="{{post.url | relative_url}}"><strong>READ MORE</strong></a>
    </div>
</div>