<div class="widget card">
    <h1>About Me</h1>
    <img src="https://media-exp1.licdn.com/dms/image/C5103AQFq-B9N4IX4tw/profile-displayphoto-shrink_200_200/0/1552098921622?e=1654128000&v=beta&t=SYDHPBTycwsYR1EIuHLn2yopJDcjfvpapQdWM5Norw8" alt="">
    <p>
        Hey there, my name is <strong>Sreekanth</strong>. I'm a passionate software developer from India. I dig into Python, Django, PostgreSQL, AWS, RxJS, Typescript, Javascript, HTML, CSS, Terraform.
        <a href="{{'/about' | relative_url }}">Read more.</a>
    </p>
</div>
<div class="card widget social d-flex flex-direction-column justify-content-center">
    {% for item in site.data.contact %}
        <a href="{{ item.link | relative_url }}" target="_blank">
            <span class="{{item.icon_class}}"></span>
        </a>
    {% endfor %}
</div>