.footer{
    background-color: #000;
    color: #e1e4e8;
    padding: 2em;
    font-size: 0.9em;

    .container{
        display: flex;
        .foot-brand{
            display: flex;
            flex-direction: column;
        }
    }
    .contact{
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        > div{
            display: flex;
            flex-direction: column;
            gap: 0.3em;
        }
    }
    .links{
        display: flex;
        gap: 20px;
        font-size: 1.5em;
    }
}
