.footer{
    background-color: #000;
    color: #e1e4e8;
    padding: 2em;
    font-size: 0.9em;

    .container{
        display: flex;
        .foot-brand{
            display: flex;
            flex-direction: column;
        }
    }
    .contact{
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        > div{
            display: flex;
            flex-direction: column;
            gap: 0.3em;
        }
    }
    .links{
        display: flex;
        gap: 20px;
        font-size: 1.5em;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer{
        .container{
            flex-direction: column;

            .foot-brand{
                margin-bottom: 1em;
            }
        }
        .contact{
            align-items: flex-start;
            margin-left: 0;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}