header{
    width: 100%;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.9em;
    
    nav{
        display: flex; 
        align-items: center;
    }
    .logo{
        a{
            color: $brand-color !important;
            padding: 0;
        }
    }
    .menu{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        flex: 1
    }
    .menu.logo-holder{
        flex: 0
    }
    ul, li{
        margin: 0;
    }
    a{
        color: #777;
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        &.current{
            color: $brand-color;
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu.not-logo{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}