.page{
    .page-title{
        margin: 0;
        margin-bottom: 0.2em;
    }
    hr.sm{
        background-color: #ccc;
        border: 0 none;
        display: inline-block;
        height: 2px;
        margin: 0 0 2rem;
        width: 4rem;
    }
}