
.services-main{
    display: flex;
    
    > div{
        flex: 1;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .points{
            display: flex;
            flex-direction: column;
            gap: 1em;

            > div{
                background-color: $gray-color;
                padding: 1em;
                border: 1px solid #eee
            }
        }
    }
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    border-radius: 1em;
    gap: 1em;
    width: 200px;
    text-align: center;

    img{
        width: 80px;
    }
}
.services-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    > div{
        flex: 1;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .services-main{
        flex-direction: column-reverse;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .brand-hero-container .second{
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}