.team-main{
    padding-top: 5em;
    padding-bottom: 5em;
}
.team-holder{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    > div{
        display: flex;
        flex-direction: column;
        flex-basis: 30.33%;

        img{
            margin-bottom: 0.5em;
            height: 100%;
            object-fit: cover;
        }
        span{
            font-weight: 600;
        }
        
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #works{
        padding: 3em 0;
    }
    .work, .work:nth-child(2n+0){
        flex-direction: column;
    }
    .team-holder{
        > div{
            flex-basis: 45%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}