---
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body class="main">
    <div class=" profile" id="particles-js">
        <div class="image">
            <img src="assets/media/profile.jpg" alt="">
        </div>
        <div>
            @srividya_reddy_ratna
        </div>
        <div class="links">
            <a href="https://www.instagram.com/srividya_reddy_ratna/">
                <img src="https://img.icons8.com/?size=100&id=32292&format=png" alt="">
            </a>
            <a href="https://www.instagram.com/srividya_reddy_ratna/">
                <img src="https://img.icons8.com/?size=100&id=8824&format=png" alt="">
            </a>
            <a href="https://in.pinterest.com/188srividya/">
                <img src="https://img.icons8.com/?size=100&id=1481&format=png" alt="">
            </a>
        </div>
    </div>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>